/* page.module.css */

.navbar {
  background-color: #28a745;
}

.brand {
  color: #fff;
}

.navButton {
  color: #fff;
}

.welcome {
  margin-top: 20px;
}

.welcomeText {
  color: #000;
}

.buttonsContainer {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.container {
  margin-top: 20px;
}

.table {
  border: 1px solid black;
}

.columnHeader {
  border: 1px solid black;
  text-align: center;
}

.employeeCell {
  border: 1px solid black;
}

.shiftCell {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.primaryShift {
  background-color: #007bff;
}

.warningShift {
  background-color: #ffc107;
}

.offShift {
  background-color: #6c757d;
}
