/* page.module.css */

.navbar {
  background-color: #28a745;
}

.brand {
  color: #fff;
}

.navButton {
  color: #fff;
}

.welcome {
  margin-top: 20px;
}

.welcomeText {
  color: #000;
}

.buttonsContainer {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.costCard {
  border-radius: 10px;
  border: 2px solid #c2c5c7;
  padding: 7px 10px;
  margin-right: 695px; 
  width: 50%;
}

.container {
  margin-top: 20px;
}

.timetableCard {
  border-radius: 10px;
  border: 2px solid #c2c5c7;
  padding: 10px;
}

.table {
  border: 1px solid black;
}

.columnHeader {
  border: 1px solid black;
  text-align: center;
}

.employeeCell {
  border: 1px solid black;
}

.shiftCell {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.primaryShift {
  background-color: #007bff;
}

.warningShift {
  background-color: #ffc107;
}

.offShift {
  background-color: #6c757d;
}

.alertStyle {
  position: sticky;
  width: calc(100vw - 40px);
  bottom: 20px;
  margin: 0 20px;
  -webkit-animation: fadeOut 4s;
  animation: fadeOut 4s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; bottom: 20px;}
  100% { opacity: 0; bottom: 0;}
}  
@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; bottom: 20px;}
  100% { opacity: 0; bottom: 0;}
}