.squarebutton {
  border-radius: 0px;
  border: 2px solid rgb(82, 82, 82);
  padding: 1px;
}

.submitbutton {
  display: flex;
  /* background-color: #479f76; */
  justify-content: right;
  padding-right: 5pxx;
  padding-top: 10px;
}